<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{page_title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <link rel="stylesheet" href="global.css">
</head>
<body>
<div id="root">
    <h1>{{page_title}}</h1>
    <div style="text-transform: initial;">
        <a href="https://github.com/skitsanos/flask-dynamic-routes" target="_blank">{{page_description}}</a>
    </div>
</div>
</body>
</html>