<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF Screenshots Retriever API</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Work Sans', sans-serif;
        }
        html {
            height: 100%;
            margin: 0;
            display: flex;
        }
        body{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #root {
            padding: 2ch;
            font-weight: 300;
            text-transform: uppercase;
            background-color: yellow;
        }

    </style>
</head>
<body>
<div id="root">
    Nothing interesting is in here
</div>
</body>
</html>